<!DOCTYPE HTML>
<html>
	<head>
		<title>stremaing list</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script src="/javascripts/jquery.min.js"></script>
		<link rel="stylesheet" href="/stylesheets/main.css" />
    <script>
        function pdf(){

        }
    </script>
	</head>
	<body>
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/QkkoHAzjnUs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="position:fixed"></iframe>

	<embed align="left" src="/documents/aaa.pdf" type="application/pdf" width="30%"style="cursor:hand;position:fixed;z-index:100;height: 100vh"/>
	<table style="position:fixed;z-index:100">
		<tbody>
		<tr><td><div>이건 어떻게 하나요?</div><div></div></td></tr>
		<tr><td><div>저건 어떻게 하나요?</div><div>알아서 푸세요</div></td></tr>
		<tr><td><div>인트로듀싱 닌텐도 스위치 라이트</div><div>인트로듀싱 닌텐도 스위치 프로</div></td></tr>
		<tr><td>helloworld</td></tr>
		<tr><td>helloworld</td></tr>
		<tr><td>helloworld</td></tr>
		<tr><td>helloworld</td></tr>
		<tr><td>helloworld</td></tr>
		</tbody>

	</table>

<!--
      <div class="container">
           <embed align="left" src="images/aaa.pdf" type="application/pdf" width="50%" height="300px"/>
       </div>
-->
<!--    <button type="button" color="red">QnA</button>-->
	<script>
		window.onload = _ => {
			let commentUpdater = function () {
				console.log('a shit here we go again');
				try {
					let time = document.querySelector('.video-stream').getCurrentTime() - document.querySelector('.video-stream').getCurrentTime() % 1
				} catch	(e) {
					time = 0;
				}
				try {
					$.ajax({
						url: 'http://localhost:4000/question/<%= lecture %>/' + time,
						success: data => {
							console.log(data);
							let strings = "";
							for (let d in data) {
								console.log();
								strings += `<tr><td><div>${data[d].question}</div><div>${data[d].answer}</div></td></tr>`
							}
							$('table tbody')[0].innerHTML = strings;
						},
						error: (req, stat, err) => {
							console.log(err);
						}
					})
				} catch	(e) {
					// console.log(e);
				}
			}
			commentUpdater()
			setInterval(commentUpdater, 500)
		}
	</script>
	</body>
</html>