<!DOCTYPE HTML>
<html>
	<head>
		<title>stremaing list</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
    <script>
        function pdf(){
            <div class="container">
            <embed align="left" src="images/aaa.pdf" type="application/pdf" width="50%" height="300px"/>
            </div>
        }
    </script>
	</head>
	<body>
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/4FCXlo6ie9Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 
    <button onclick="pdf()" type="button"style="width:1px;height:70px;cursor:hand;position:absolute;top:300px;z-index:100">

<!--
      <div class="container">
           <embed align="left" src="images/aaa.pdf" type="application/pdf" width="50%" height="300px"/>
       </div>
-->
<!--    <button type="button" color="red">QnA</button>-->
	</body>
</html>